main {
  display: flex;
  height: 75vh;
}

main form {
  height: 75vh;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-input {
  height: 12vh;
  width: 80%;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
}

.form-input label {
  width: 41%;
}

.form-input input,
select {
  width: 60%;
  height: 5vh;
  font-size: 24px;
  text-align: center;
  margin-left: 20px;
}

#btn {
  height: 50px;
  padding: 0 5%;
  margin: 0 auto;
  background: #2d6a4f;
  color: whitesmoke;
  border-radius: 10px;
  overflow: visible;
  text-align: center;
}

#btn:hover {
  cursor: pointer;
}

.main-data {
  width: 60%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  margin: 0;
}

.main-data .employee-card {
  background-color: white;
  text-align: center;
  height: 300px;
  width: 275px;
  border-radius: 30px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 8px #888888;
}

.main-data .employee-card img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 1vh;
}

.main-data .employee-card div {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
